#login-form input:focus,
#login-form textarea:focus {
    outline: none !important;
    border-color: #082A4D;
    box-shadow: 0 0 0 0.25rem #f3953031;
}

/* Updated Styles with Balanced Colors */
#login-form {
    color: #333; /* Dark Gray for text color */
}

#login-form h1 {
    color: #f39530; /* Orange */
}

#login-form p {
    color: #555; /* Slightly darker Gray for paragraph text */
}

#login-form label {
    color: #082A4D; /* Dark Blue for labels */
    font-weight: bold;
}

#login-form input,
#login-form textarea {
    background-color: #f8f8f8; /* Light Grayish Off-White */
    border: 1px solid #ddd; /* Light Gray for borders */
    color: #333; /* Dark Gray for text color */
}

#login-form input:focus,
#login-form textarea:focus {
    box-shadow: 0 0 0 0.25rem #f3953057; /* Orange shadow on focus */
}

#login-form button {
    background-color: #f39530; /* Orange */
    border: 1px solid #f39530; /* Orange border */
    color: #fff; /* White text */
}

#login-form button:hover,
#login-form button:focus {
    background-color: #0096BB; /* Blue on hover or focus */
    border-color: #0096BB; /* Blue border on hover or focus */
}
