@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  margin-top: auto;
  flex-shrink: 0 !important;
}
.meddoc-blue{
  background-color: #0096BB;
  color: white;
}
.meddoc-dark{
  background-color: #082A4D;
  color: white;
}
.meddoc-orange{
  background-color: #f39530;
  color: white;
}
.color-meddoc-blue{
  color: #0096BB;
}
.color-meddoc-dark{
  color: #082A4D;
}
.color-meddoc-orange{
  color: #f39530;
}
.font-meddoc-normal{
  font-weight: 400;
}
.border-meddoc-blue{
  border-color: #0096BB;
}
.border-meddoc-orange{
  background-color: #f395300a !important;
}
.border-meddoc-orange:focus{
  border-color: #082A4D !important;
}
.title-meddoc{
  font-size: 25px !important;
  text-align: center;
}
.swiper-button-prev, .swiper-button-next{
  color: #082A4D !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: #082A4D !important;
}
